In [6]:
import csv

with open("std.csv" , "w" , newline="" ) as f:
    data_handler = csv.writer(f , delimiter =",")
    data_handler.writerow(["Name" , "Class" , "Section"])
    data_handler.writerow(["Ahmed" , "4th" , "C"])
    data_handler.writerow(["Sarah" , "10th" , "B"])
    data_handler.writerow(["Azhan" , "6th" , "A"])

In [7]:
l=[]
with open("std.csv" , "r") as f:
    data_handler = csv.reader(f)
    for row in data_handler: 
            l.append(tuple(row))
       # print(row)
print(l)

[('Name', 'Class', 'Section'), ('Ahmed', '4th', 'C'), ('Sarah', '10th', 'B'), ('Azhan', '6th', 'A')]

In [3]:
import mysql.connector
connection = mysql.connector.connect(host = "localhost", 
                                     database = "python_db" , 
                                     user = "root" , 
                                     password = "password" ) 
cur = connection.cursor()

In [4]:
table = """ create table student_info
            (
            StId int Not null auto_increment Primary key ,
            Name varchar(20) ,
            Class varchar(20) ,
            Section varchar(20) 
            )  
            
    """
    
    
cur.execute(table)

In [8]:
insert_db = "Insert into student_info (Name ,Class,Section) values (%s,%s,%s)"
cur.executemany(insert_db,l)
connection.commit()

In [35]:
cur.execute("select * from student_info")
record = cur.fetchall()
record

[(1, 'Name', 'Class', 'Section'),
 (2, 'Ahmed', '4th', 'C'),
 (3, 'Sarah', '10th', 'B'),
 (4, 'Azhan', '6th', 'A')]

In [ ]:
if(connection.is_connected()):
        cur.close()
        connection.close()
        print("connection is closed")