In [1]:
import mysql.connector

In [2]:
connection = mysql.connector.connect(host="localhost" , 
                                     database='students',
                                     user='root',
                                     password='mysql123')

In [3]:
cur = connection.cursor(buffered = True)

In [4]:
cur.execute("select * from info")
record = cur.fetchall()
record

[(1, 'Subhan', 'BSC', 2),
 (2, 'Hira', 'MSCS', 3),
 (3, 'Hasan', 'BS(hon)', 5),
 (4, 'Sehrish', 'BBA', 8),
 (5, 'Charlie', 'MBA', 6)]

In [5]:
for each in record:
    print("STUDENT",each[0], "RECORD !\n")
    print("\t\tID : " , each[0])
    print("\t\tName : " , each[1])
    print("\t\tProgram : " , each[2])
    print("\t\tSemester" , each[3],"\n")

STUDENT 1 RECORD !

		ID :  1
		Name :  Subhan
		Program :  BSC
		Semester 2

STUDENT 2 RECORD !

		ID :  2
		Name :  Hira
		Program :  MSCS
		Semester 3

STUDENT 3 RECORD !

		ID :  3
		Name :  Hasan
		Program :  BS(hon)
		Semester 5

STUDENT 4 RECORD !

		ID :  4
		Name :  Sehrish
		Program :  BBA
		Semester 8

STUDENT 5 RECORD !

		ID :  5
		Name :  Charlie
		Program :  MBA
		Semester 6

In [14]:
marks_table = """ create table std_contact 
                    (
                    c_id     INT unsigned NOT NULL AUTO_INCREMENT ,
                    cell_number   varchar(11) ,
                    Email  varchar(20),
                    LinkedIn varchar(15),
                    PRIMARY KEY (c_id),
                    id  INT unsigned NOT NULL,
                    FOREIGN KEY (id) REFERENCES info(id)
                    )      
              """
cur.execute(marks_table)

In [15]:
insert = "insert into std_contact (cell_number , Email ,LinkedIn , id) values (%s,%s,%s,%s)"
values = [("03331265743","subhan@gmail.com", "subhan275" , 1), 
          ("03263845571", "xyz@hotmail.com" , "hira12" ,2),
          ("03223467891" , "hasan.12@yahoo.com" , "M.hasan" , 3),
          ("03004856128" , "sehrish_A@gmail.com" , "Sehr900" , 4) ,
          ("03215600334" , "Charlie@hotmail.com" , "Charlie" , 5)]
cur.executemany(insert,values)
connection.commit()

In [18]:
if(connection.is_connected()):
        cur.close()
        connection.close()
        print("connection is closed")

connection is closed